guacamol==0.5.4
matplotlib==3.0.2
torch>=1.0
loguru==0.5.3
joblib==0.12.5
numpy>=1.16.5
tqdm==4.26.0
cython==0.29
nltk==3.4.5
flake8==3.5.0
tensorflow
keras
h5py
moses @ git+https://github.com/GT4SD/moses.git@v0.1.1